{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/styles.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
    <title>收款码合成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

    <script type="text/javascript" src="{% static 'hello/js/grid.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/version.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/detector.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/formatinf.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/errorlevel.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/bitmat.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/datablock.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/bmparser.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/datamask.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/rsdecoder.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/gf256poly.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/gf256.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/decoder.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/qrcode.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/findpat.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/alignpat.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/js/databr.js' %}"></script>

</head>


<body>
    <div class="container">
            <label class="container-header">收款码</label>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-section">

                    <div class="input">
                        <label class="input-label" for="alipay" id="alipay_name">支付宝</label>
                        <input type="file" accept="image/*" style="display: none" id="alipay" onchange="scanAlipayImage()">
                        <input type="text" name="ali-img" id="ali_val" style="display: none" />
                    </div>

                    <div class="input">
                        <label class="input-label" for="wechat" id="wechat_name">微信</label>
                        <input type="file" accept="image/*" style="display: none" id="wechat" onchange="scanWechatImage()">
                        <input type="text" name="wx-img" id="wx_val" style="display: none" />
                    </div>

                    <div class="input">
                        <label class="input-label" for="logo" id="logo_img">LOGO</label>
                        <input type="file" accept="image/*" name="logo" style="display: none" id="logo" onchange="addLogo()">
                    </div>
            </div>
            <div class="submit-section">
                <button type="submit">立即合成</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <img src="../../static/zeyicheng.jpg" class="logo-img">
    </div>
</body>

<script type="text/javascript">

    function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
            url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    function scanAlipayImage(e) {
        var selectedFile = document.getElementById("alipay").files[0];
        var objURL = getObjectURL(selectedFile);
        qrcode.callback = aliRead;
        qrcode.decode(objURL)
    }

    function aliRead(e) {
        if (0 <= e.indexOf("HTTPS://QR.ALIPAY.COM/")) {
            document.getElementById("alipay_name").style.backgroundColor= "#118CE2";
            document.getElementById("ali_val").value = e;
        } else {
            alert("支付宝收款二维码错误，请重新上传")
            document.getElementById("alipay_name").style.backgroundColor= "red";
            document.getElementById("ali_val").value = '';
        }
    }

    function scanWechatImage(e) {
        var selectedFile = document.getElementById("wechat").files[0];
        var objURL = getObjectURL(selectedFile);
        qrcode.callback = wxRead;
        qrcode.decode(objURL)
    }

    function wxRead(e) {
        if (0 <= e.indexOf("wxp://")) {
            document.getElementById("wechat_name").style.backgroundColor= "#229F2B";
            document.getElementById("wx_val").value = e;
        } else {
            alert("微信收款二维码错误，请重新上传")
            document.getElementById("wechat_name").style.backgroundColor= "red";
            document.getElementById("wx_val").value = '';
        }
    }

    function addLogo(e) {
        document.getElementById("logo_img").style.backgroundColor= "yellowgreen";
    }

</script>
</html>
