
.bg-body {
     background-color: black;
     background-image: url("../bgimg.jpg");
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    min-height:100%;
    padding-bottom:20px;
}

.footer {
    display: flex;
    margin-top: -20px; /* footer高度的负值 */
    height: 20px;
    justify-content: center;
    /*float: right;*/
}

.logo-img {
    width: 60px;
    height: 20px;
}

.input-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    width: 100%;
}

.input-label {
    width: 160px;
    text-align: center;
    color: white;
    padding: 7px;
    border:1px solid;
    border-radius:2px;
    font-size: smaller;
}

.container-header {
    /*width: 100%;*/
    margin-bottom: 60px;
    text-align: center;
    color: white;
    width: 100%;
}

button {
    margin-top: 20px;
    color: white;
    border-color: white;
    background-color: transparent;
    width: 120px;
    padding: 8px;
    border:1px solid;
    border-radius:4px;
    font-size: smaller;
}

.info {
    margin-top: 20px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: small;
}

.qr-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.use-intro {
    margin-top: 15px;
    text-align: center;
    color: peachpuff;
    font-size: 12px;
    padding: 5px;

}


/*
    介绍页
*/

.introduce-body {
    max-width: 640px;
    margin: 0 auto;
    background: #f7f7f7;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
  clear: both;
}
.zhima128{
  padding: 5%;
  font-size: 16px;
}
.weui-btn_primary{
  background: #429056;
}
.custom-success{
  background: #1aad19;
}
.banner,
.help-header{
  height: 150px;
  position: relative;
  background-image: url('image/banner2_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .text1,
.banner .text2{
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-weight: bold;
}
.banner .text1{
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 14%;
    font-size: 16px;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.banner .text2{
    top: 40%;
    font-size: 14px;
}
.banner .link-btn{
    width: 160px;
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 18px;
    margin-left: -80px;
}
.introduce_list{
    padding: 15px 15%;
    background: #fff;
}
.introduce_list li{
    margin-bottom: 30px;
}
.introduce_list li .icon{
    text-align: center;
}
.introduce_list li h3{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0 15px 0;
}
.introduce_list li p{
    font-size: 14px;
}
.introduce_list .open-merge{
    width: 100%;
}
#footer{
    padding-top: 10px;
    background: #f7f7f7;
}
/*收款码合并页面*/
#merge-form{

}
.merge-head{
    height: 120px;
    line-height: 130px;
    text-align: center;
    background: #429056;
}
.merge-head .title{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0 15%;
    color: #fff;
}
.miaoshu{
  font-size: 16px;
  color: #4c4c4c;
  padding: 15px 5%;
}
.up-qrcode-warp{
    overflow: hidden;
    background: #fff;
    padding-top: 15px;
    border-top: 1px solid #e6e6e6;
}
.more-pay-box{
	padding: 0 6.25%;
}

.up-qrcode-list{
	padding: 0 6.25%;
	overflow: hidden;
}
.up-qrcode{
    vertical-align: bottom;
    width: 135px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}
.up-box{
    margin-bottom: 10px;
    position: relative;
}
.up-box .tips{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    line-height: 120px;
    font-size: 12px;
    color: #ccc;
    margin: 0 auto;
    /*border: 1px dashed #ccc;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/*.up-weixin-tips{*/
  /*background-image: url(/dist/main/img/paycode_wap/weixin_saoma_tips.png?v=1);*/
/*}*/
/*.up-alipay-tips{*/
  /*background-image: url(/dist/main/img/paycode_wap/alipay_saoma_tips.png?v=1);*/
/*}*/
/*.up-qqpay-tips{*/
  /*background-image: url(/dist/main/img/paycode_wap/qqpay_saoma_tips.png?v=2);*/
/*}*/
/*.up-weixin-tips.saoma{*/
  /*background-image: url(/dist/main/img/paycode_wap/weixin_saoma.png?v=1);*/
/*}*/
/*.up-alipay-tips.saoma{*/
  /*background-image: url(/dist/main/img/paycode_wap/alipay_saoma.png?v=1);*/
/*}*/
/*.up-qqpay-tips.saoma{*/
  /*background-image: url(/dist/main/img/paycode_wap/qqpay_saoma.png?v=1);*/
/*}*/
.more-pay-box{
	text-align: right;
	font-size: 12px;
	color: #333;
}
.more-pay-box .icon{
	vertical-align: middle;
}
.up-qqpay-box{
	display: block;
    margin-bottom: 0;
}
.more-down{
	display: block;
}
.more-up{
	display: none;
}
.loadmore{
  display: none;
}
.up-box img{
    display: none;
    width: 80%;
}
.up-qrcode a{
    font-size: 12px;
    color: #5677fc;
}
.merge-btn{
    width: 160px;
    font-size: 14px;
    background: #429056;
    margin-top: 5%;
}
.qr-code-box{
    padding: 15px 0;
    text-align: center;
    background: #f7f7f7;
}
.qr-code-box .tips{
    display: block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    border: 1px dashed #ccc;
    background: #fff;
}
.qr-code-box.active{
    border: none;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 15px;
}
.qr-code-box.active .tips{
	display: none;
}
#error_msg{
    margin: 15px 15px 0 15px;
    padding: 12px 15px;
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}
.save-btn-box,
.weixin-save_tips{
  display: none;
}
.down_pay_code{
    width: 140px;
    font-size: 14px;
}
.weixin-save_tips{
  color: #999;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.footer__text a{
    font-size: 10px;
    color: #999;
    text-decoration: none;
}
.merge-form .help-link{
  font-size: 12px;
  color: #54bc6e;
}
.help-header .text1{
  position: absolute;
  width: 100%;
  height: 36px;
  line-height: 36px;
  top: 50%;
  margin-top: -18px;
  font-size: 16px;
  font-family: '微软雅黑';
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.help-content{
  background: #fff;
  padding: 20px 0;
}
.help-content .help-title{
  padding: 15px 0;
  text-align: center;
  color: #4c4c4c;
  font-size: 14px
}
.help-content .dian{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #5c92ef;
  vertical-align: 3px;
  margin-right: 10px;
}
.help-content .step-content li{
  display: inline-block;
  width: 40%;
  padding: 0 5%;
  margin-bottom: 15px;
}
.help-content .step-title{
  color: #4c4c4c;
  font-size: 14px;
  margin-bottom: 10px;
}
.help-content .step-content{
  font-size: 0;
}
.help-content .step-center{
  width: 100%;
}
.help-content .step-center img{
  width: 100%;
}
.wenda{
	background: #fff;
	overflow: hidden;
	padding: 0 15px;
}
.wenda-lable{
	margin: 30px 0;
	font-size: 16px;
	text-align: center;
}
.wenda li{
	margin-bottom: 20px;
}
.wenda-title{
	font-size: 14px;
	color: #4c4c4c;
	font-weight: bold;
}
.wenda-desc{
	margin-top: 10px;
	font-size: 12px;
	line-height: 22px;
	padding-left: 16px;
}
.wenda-p {
    font-size: 12px;
    color: #4c4c4c;
}
.register-warp,
.login-warp{
	position: absolute;
	width: 90%;
	top: 20px;
	left: 0;
	margin: 10px 5%;
	padding: 0 0 20px 0;
	z-index: 100;
	border-radius: 4px;
	background: #fff;
}
.register-warp .head,
.login-warp .head{
	padding: 15px 0 ;
	text-align: center;
	color: #54bc6e;
	position: relative;
}
.register-warp .close,
.login-warp .close{
	padding: 10px 15px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
}
.register-warp input,
.login-warp input{
	font-size: 13px;
}
.register-warp .weui-label,
.login-warp .weui-label{
	width: 50px;
	font-size: 13px;
}
.register-warp .weui-agree,
.login-warp .weui-agree{
	text-align: right;
	font-size: 12px;
}
.register-warp .weui-agree a,
.login-warp .weui-agree a{
	color: #54bc6e;
}
.register-warp{
	display: none;
}
.login-warp{
	display: none;
}
.register-warp .weui-btn-area,
.login-warp .lweui-btn-area{
	margin: 10px 10px;
}
.register-warp .weui-cells,
.login-warp .weui-cells{
	margin-top: 0;
}
.weui-vcode-btn{
	position: absolute;
	right: 5px;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	margin: 0;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid #54bc6e;
}
.vcode-time{
	display: none;
}
.weui-btn_primary{
	background: #54bc6e;
}
.page-warp{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 90;
}
.payee-warp{
	font-size: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.payee-box{
	text-align: center;
	font-size: 14px;
	color: #4c4c4c;
}
.payee_name{
	width: 220px;
	height: 34px;
	padding: 0 10px;
	margin: 0 10px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	outline: none;
	vertical-align: middle;
}
#user-box{
	position: absolute;
	top: 10px;
	right: 0;
	line-height: 1;
    font-size: 0;
}
#user-box .user_btn{
	display: inline-block;
	padding: 5px 0;
    margin-right: 10px;
	line-height: 1;
	border-radius: 3px;
	font-size: 14px;
	color: #fff;
}
#user-box .user_btn.register{
	border: 1px solid #fff;
}
#user-box .user_btn.register,
#user-box .user_btn.login{
    padding: 5px 10px;
}
.up-pay-logo-box{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.up-pay-logo-box .weui-btn{
	float: left;
	width: 45%;
	margin: 0;
    height: 35px;
    line-height: 35px;
	border-color: #e6e6e6;
	background: #fff;
	color: #5b92ef;
}
#uplogoTips,
#upPayLogo{
    float: right;
}
.up-pay-logo{
	margin-top: 10px;
	width: 140px;
    font-size: 14px;
}

#upPayLogo{
	display: none;
}

.merge-box-head{
	padding: 10px 0;
}
.merge-qrcode-tab{
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.merge-qrcode-tab .tab{
	display: none;
	float: right;
	line-height: 1;
}

.merge-img-box{
	width: 80%;
	margin: 0 auto;
}
.merge-img-box img{
    display: none;
    margin: 0;
}

.merge-qrcode{
	display: none;
	width: 100%;
}
.merge-qrcode-tab .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: -3px;
}
.merge-qrcode-tab .type_1{
	color: #5c92ef;
}
.merge-qrcode-tab .type_2{
	color: #5ec790;
}
/*.merge-qrcode-tab .type_1 .icon{*/
	/*background-image: url(/dist/main/img/paycode_wap/type_1.png);*/
/*}*/
/*.merge-qrcode-tab .type_2 .icon{*/
	/*background-image: url(/dist/main/img/paycode_wap/type_2.png);*/
/*}*/

.user-defined{
	width: 80%;
	margin: 10px auto 0 auto;
	display: none;
}
.user-defined-link{
	font-size: 14px;
	background: #5b92ef;
    height: 35px;
    line-height: 35px;
    border:none;
}
/*个人收款 商户收款 切换*/
.main-nav{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #e6e6e6;
	margin-bottom: 15px;
	background: #fff;
}
.main-nav ul{
	padding: 0 15px;
	overflow: hidden;
}
.main-nav ul li{
	float: left;
	width: 50%;
	text-align: center;
	padding: 0 15px;
	box-sizing: border-box;
}
.main-nav ul li a{
	color: #333;
	font-size: 14px;
}
.main-nav ul li.active a{
	display: block;
	color: #54bc6e;
	line-height: 40px;
	border-bottom:1px solid #54bc6e;
}
.merge-form .bottom{
	display: none;
	padding: 10px 0;
}
.merge-form .bottom .text-top{
	position: relative;
	text-align: center;
	line-height: 1;
}
.merge-form .bottom .text-top .line{
	display: block;
	width: 280px;
	height: 1px;
	position: absolute;
	top: 8px;
	left: 50%;
	margin-left: -140px;
	background: #e6e6e6;
	z-index: 1;
}
.merge-form .bottom .text-top .text{
	position: relative;
	z-index: 9;
	padding: 0 10px;
	background: #f7f7f7;
	font-size: 14px;
	color: #333;
}
.merge-form .bottom .text-bottom{
	font-size: 12px;
	color: #999;
	text-align: center;
	padding-top: 10px;
	line-height: 1;
}
.merge-form .bottom .text-bottom .link{
	color: #5b92ef;
	text-decoration: underline;
}
.merge-form .bottom .text-bottom .go_icon{
	vertical-align: middle;
	padding-left: 10px;
}
.merge-form.active .bottom{
	display: block;
}
.shanghu-page{
	padding-bottom: 15px;
}
.shanghu-page .page-title{
	color: #333;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 30px 0 18px 0;
	line-height: 1;
	font-weight: bold;
}
.shanghu-page .items{
	padding: 32px 15px;
	position: relative;
}
.shanghu-page .items .item_warp{
	position: relative;
}
.shanghu-page .items .item_warp:before,
.shanghu-page .items .item_warp:after{
	display: block;
	content: '';
	position: absolute;
	width: 50%;
	height: 0;
	left: 0;
	line-height: 1;
	border-top: 2px dashed #d9d9d9;
}
.shanghu-page .items .item_warp:before{
	top: 0;
}
.shanghu-page .items .item_warp:after{
	bottom: 0;
}
.shanghu-page .items .top,
.shanghu-page .items .bottom{
	display: block;
	width: 14px;
	height: 32px;
	position: absolute;
	left: 50%;
	margin-left: -7px;
}
/*.shanghu-page .items .top{*/
	/*top: 0px;*/
	/*background: url(/dist/main/img/paycode_wap/shanghu/dian_top.png) 0 0 no-repeat;*/
/*}*/
/*.shanghu-page .items .bottom{*/
	/*bottom: 0px;*/
	/*background: url(/dist/main/img/paycode_wap/shanghu/dian_bottom.png) 0 0 no-repeat;*/
/*}*/
.shanghu-page .items .left_line:before,
.shanghu-page .items .right_line:after,
.shanghu-page .items .top_line:before,
.shanghu-page .items .bottom_line:after{
	display: block;
	content: '';
	position: absolute;
	line-height: 1;
}
.shanghu-page .items .left_line:before{
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-left: 2px dashed #d9d9d9;
}
.shanghu-page .items .right_line:after{
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-left: 2px dashed #d9d9d9;
}
.shanghu-page .items .top_line:before{
	left: 0;
	top: 0;
	width: 100%;
	width: 100%;
	border-top: 2px dashed #d9d9d9;
}
.shanghu-page .items .bottom_line:after{
	left: 0;
	bottom: 0;
	width: 100%;
	width: 100%;
	border-bottom: 2px dashed #d9d9d9;
}
.shanghu-page .items .item{
	position: relative;
	box-sizing: border-box;
	padding: 28px 0 28px 0;
	overflow: hidden;
}
.shanghu-page .align_left .item-left{
	float: left;
	margin-left: 14px;
}
.shanghu-page .align_left .item-right{
	padding-left: 140px;
}
.shanghu-page .align_right .item-left{
	float: right;
	margin-right: 14px;
}
.shanghu-page .align_right .item-right{
	padding-right: 140px;
}
.shanghu-page .item .icon{
    width: 75px;
    box-shadow: 0 0 15px #e0e0e0;
}
.shanghu-page .item .item-title{
	color: #333;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: bold;
}
.shanghu-page .item-list-text{
	font-size: 11px;
	color: #999;
	line-height: 1.6;
}
.shanghu-page .item-list-text li{
	padding-left: 10px;
	position: relative;
}
.shanghu-page .item-list-text li:before{
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #54bc6e;
	position: absolute;
	left: 0;
	top: 7px;
}
.shanghu-page .bottom{
	position: fixed;
	bottom: 5px;
	z-index: 99;
	width: 100%;
}
.shanghu-page .submit{
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 0 15px;
	background: #54bc6e;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0 0 20px 0 #54bc6e;
}
.shanghu-page h4.title{
	text-align: center;
	color: #333;
	font-size: 14px;
	line-height: 1;
	margin: 10px 0 15px 0;
}
.shanghu-page .phone{
	width: 132px;
	margin: 0 auto;
}
.shanghu-page .phone img{
	width: 100%;
}




